.container {
  width: 100%;
  height: 35vh;
  position: relative;
  overflow: hidden;
}


/*滑动动画*/

@keyframes SliderToRight {

  to {
    left: 0%;
  }
}

/* @keyframes SliderToLeft {

} */

.SliderToRight {
  animation-duration: 1s;
  animation-name: SliderToRight;
  animation-timing-function: ease;
  animation-fill-mode:forwards;
}

