.container {
  min-height: 45vh;
  width: 100%;
  margin: 0px;
  padding: 0px;

  display: flex;
  flex-direction: column;
  align-content: space-between;
  text-decoration:none;

  border-bottom: 1vh solid #f2f2f2;
}

.container div {
  width: 100%;
  height: 35vh;
  margin-bottom: 1vh;
}

.container img {
  width: 100%;
  height:100%;
}


.title {
  padding-left: 3vw;
  padding-right: 3vw;
  margin: 0;
  margin-bottom: 1vh;
  color: black;
  font-size: 1.2em;
  line-height: 1.5em;
}

.subtitle {
  padding-left: 3vw;
  padding-right: 3vw;
  margin: 0;
  margin-bottom: 1vh;
  color: #757575;
}