.container {
  width: 100%;
  height: 100%;
}

.container div {
  width: 100%;
  height: 20%;
  margin: 5px 0;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.closeCover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-clip: content-box;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.4;
  top: 0;
  left: 0;
}

.closeCover + span {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../../images/close.png');
  background-size: 25% 50%;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;

}